#### 범주형 데이터
기계학습을 위해 숫자로 변환

In [2]:
import pandas as pd
import numpy as np

In [3]:
df1 = pd.DataFrame(['Male','Female'],columns=['x'])
df1

        x
0    Male
1  Female

In [4]:
#더미 변수
df2 = pd.get_dummies(df1['x'], prefix='gender')
df2

   gender_Female  gender_Male
0              0            1
1              1            0

In [5]:
df3 = pd.DataFrame(['A','B','O','AB'], columns=['x'])
df3

    x
0   A
1   B
2   O
3  AB

In [6]:
df4 = pd.get_dummies(df3['x'],prefix='blood')
df4

   blood_A  blood_AB  blood_B  blood_O
0        1         0        0        0
1        0         0        1        0
2        0         0        0        1
3        0         1        0        0