In [ ]:
#미국 의대생의 입학관련 데이터셋

#Acceptance : 0이면 불합격, 1이면 합격
#BCPM : Bio/Chem/Physics/Math 과목의 학점 평균 
#GPA : 전체과목 학점 평균
#VR : MCAT Verbal reasoning 과목 점수
#PS : MCAT Physical sciences 과목 점수
#WS : MCAT Writing sample 과목 점수
#BS : MCAT Bidlogical sciences 과목 점수
#MCAT : MCAT 총점
#Apps : 의대 지원 횟수

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import statsmodels.api as sm 

data_med = sm.datasets.get_rdataset('MedGPA', package='Stat2Data')
df_med = data_med.data
df_med.tail()

   Accept  Acceptance Sex  BCPM   GPA  VR  PS   WS  BS  MCAT  Apps
50      D           0   M  2.41  2.72   8   8  8.0   8    32     7
51      D           0   M  3.51  3.56  11   8  6.0   9    34     6
52      A           1   F  3.43  3.48   7  10  7.0  10    34    14
53      D           0   M  2.61  2.80   7   5  NaN   6    18     6
54      D           0   M  3.36  3.44  11  11  8.0   9    39     1